.classTitle{
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.card{
    border: 2px solid rgba(128, 128, 128, 0.815);
    border-radius: 10px;
}

.titles{
    background-color: rgb(68, 68, 68);
    border-bottom: 2px solid rgba(128, 128, 128, 0.815);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 10px;
}

.info{
    height: 75px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.815);
    padding: 10px;
}

.options{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
}