*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
}